{%extends base.html%}
{% block content %}

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="padding-top:40px;">
            <li style="padding-bottom:20px;"><a href="/assembly_designer/"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>  CPEC designer</a>
            </li>
        </ul>
    </div
    <!-- Page content -->
    <div id="page-content-wrapper">
        {% block content2 %} {%end%}
    </div>


{%end%}

</div>
