{% extends base_workflow.html %}
{%block head%}

{%end%}

{% block content2%}

<div class="container">
<div style="margin-bottom:30px;">
  <h3>Welcome to the synDNA Assembly Tools Project</h3>
</div>

<div><p>Our goal is to offer a suite of applications designed to predict optimal homology regions in DNA fragments slated for assembly. While we will make available a range of tools for synthetic biology applications, we are currently in development mode and are only offering the CPEC designer at this time.</p>
</div>

</div>

{%end%}
